[include]
  path = ~/.gituser
[alias]
	ck = checkout
	br = branch
	cm = commit
	st = status
	d = difftool
  l = log --decorate --oneline --graph
  m = merge --no-ff
  ff = merge --ff-only
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[core]
	pager = less -iXFRE
	filemode = false
[mergetool]
	trustExitCode = true
